@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey500: hsl(234, 12%, 34%);
    --grey400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    --ff-poppins: 'Poppins';
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;

    p {
        margin: 0;
        line-height: 1.3;
    }

}

body {
    height: 100vh;
    background-color: #FAFAFA;
    font-family: var(--ff-poppins), sans-serif;
    font-size: 15px;
    font-weight: var(--fw-400);
}



.container {
    border: 1px solid aqua;
}

.jumbotron {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 19rem;
    margin-bottom: 0;
}

.heading {
    color: var(--grey400);
    font-size: 36px;
    font-weight: var(--fw-200);
}

.sub-heading {
    color: var(--grey500);
    font-size: 36px;
    font-weight: var(--fw-600);
}

.sub-text {
    color: var(--grey400);
    text-align: center;
    margin-top: 8px;
}

.cards {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
    "left middle right"
    ". middle ."
    ". . .";
}

.left { grid-area: left; }

.middle {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "top top top"
    ". . ."
    "bottom bottom bottom";
    grid-area: middle;
}

.top { grid-area: top; }

.bottom { grid-area: bottom; }

.right { grid-area: right; }

.card.karma.top {
    margin-top: 20px;
}

.card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.supervisor {
    border-top: 3px solid var(--cyan);
}

.card.team-builder {
    border-top: 3px solid var(--red);
    margin: 0;
}

.karma {
    border-top: 3px solid var(--orange);
}

.calculator {
    border-top: 3px solid var(--blue);
}

.card {
    height: 250px;
}